In [15]:
import pandas as pd

In [16]:
stud_name=["suba","shalini","vennila","hema","priya","shafi","jeeva","sneha","nisha","preetha","varsha","sharmi","kaviya","bharathi","varun","praveen","hari","shesanth","dhivya","verti","dharun","vimala","dharshini","ragavi","prasanna","akshaya","keerathana","dhanu","elakiya","kalai","mani","kavitha","parkavi","siva","abitha","aswini","vicky","bharath","sakthi","vishnu","vidhya","vinotha","harini","mukilan","sandhiya","anu"]
department=["bca","bsc","botony","chemistry","physics","maths","bca","b.a tamil","b.a eng","bca","bsc","maths","cse","btech","diploma","eee","viscom","eee","iti","cse","bca","bba","bcom","mca","msc","maths","bca","bsc","eee","iti","b.a tamil","maths","bca","eee","cse","mca","bsc","bca","bcom","bba","diploma","iti","eee","cse","bsc","nursing"]
percentage=[99,98,65,78,94,87,77,66,85,69,87,76,94,76,88,69,88,92,78,74,68,85,88,97,66,77,54,63,71,67,95,48,62,84,93,74,72,63,86,56,55,75,68,94,72,88]

In [17]:
data=pd.DataFrame({"stud_name":stud_name,"Department":department,"Percentage":percentage})

In [9]:
data

     stud_name Department  Percentage
0         suba        bca          99
1      shalini        bsc          98
2      vennila     botony          65
3         hema  chemistry          78
4        priya    physics          94
5        shafi      maths          87
6        jeeva        bca          77
7        sneha  b.a tamil          66
8        nisha    b.a eng          85
9      preetha        bca          69
10      varsha        bsc          87
11      sharmi      maths          76
12      kaviya        cse          94
13    bharathi      btech          76
14       varun    diploma          88
15     praveen        eee          69
16        hari     viscom          88
17    shesanth        eee          92
18      dhivya        iti          78
19       verti        cse          74
20      dharun        bca          68
21      vimala        bba          85
22   dharshini       bcom          88
23      ragavi        mca          97
24    prasanna        msc          66
25     akshaya      maths          77
26  keerathana        bca          54
27       dhanu        bsc          63
28     elakiya        eee          71
29       kalai        iti          67
30        mani  b.a tamil          95
31     kavitha      maths          48
32     parkavi        bca          62
33        siva        eee          84
34      abitha        cse          93
35      aswini        mca          74
36       vicky        bsc          72
37     bharath        bca          63
38      sakthi       bcom          86
39      vishnu        bba          56
40      vidhya    diploma          55
41     vinotha        iti          75
42      harini        eee          68
43     mukilan        cse          94
44    sandhiya        bsc          72
45         anu    nursing          88

In [10]:
stud_name[5:35]

['shafi',
 'jeeva',
 'sneha',
 'nisha',
 'preetha',
 'varsha',
 'sharmi',
 'kaviya',
 'bharathi',
 'varun',
 'praveen',
 'hari',
 'shesanth',
 'dhivya',
 'verti',
 'dharun',
 'vimala',
 'dharshini',
 'ragavi',
 'prasanna',
 'akshaya',
 'keerathana',
 'dhanu',
 'elakiya',
 'kalai',
 'mani',
 'kavitha',
 'parkavi',
 'siva',
 'abitha']

In [11]:
data

     stud_name Department  Percentage
0         suba        bca          99
1      shalini        bsc          98
2      vennila     botony          65
3         hema  chemistry          78
4        priya    physics          94
5        shafi      maths          87
6        jeeva        bca          77
7        sneha  b.a tamil          66
8        nisha    b.a eng          85
9      preetha        bca          69
10      varsha        bsc          87
11      sharmi      maths          76
12      kaviya        cse          94
13    bharathi      btech          76
14       varun    diploma          88
15     praveen        eee          69
16        hari     viscom          88
17    shesanth        eee          92
18      dhivya        iti          78
19       verti        cse          74
20      dharun        bca          68
21      vimala        bba          85
22   dharshini       bcom          88
23      ragavi        mca          97
24    prasanna        msc          66
25     akshaya      maths          77
26  keerathana        bca          54
27       dhanu        bsc          63
28     elakiya        eee          71
29       kalai        iti          67
30        mani  b.a tamil          95
31     kavitha      maths          48
32     parkavi        bca          62
33        siva        eee          84
34      abitha        cse          93
35      aswini        mca          74
36       vicky        bsc          72
37     bharath        bca          63
38      sakthi       bcom          86
39      vishnu        bba          56
40      vidhya    diploma          55
41     vinotha        iti          75
42      harini        eee          68
43     mukilan        cse          94
44    sandhiya        bsc          72
45         anu    nursing          88

In [18]:
data.replace({"cse":"it"},inplace=True)

In [13]:
data

     stud_name Department  Percentage
0         suba        bca          99
1      shalini        bsc          98
2      vennila     botony          65
3         hema  chemistry          78
4        priya    physics          94
5        shafi      maths          87
6        jeeva        bca          77
7        sneha  b.a tamil          66
8        nisha    b.a eng          85
9      preetha        bca          69
10      varsha        bsc          87
11      sharmi      maths          76
12      kaviya         it          94
13    bharathi      btech          76
14       varun    diploma          88
15     praveen        eee          69
16        hari     viscom          88
17    shesanth        eee          92
18      dhivya        iti          78
19       verti         it          74
20      dharun        bca          68
21      vimala        bba          85
22   dharshini       bcom          88
23      ragavi        mca          97
24    prasanna        msc          66
25     akshaya      maths          77
26  keerathana        bca          54
27       dhanu        bsc          63
28     elakiya        eee          71
29       kalai        iti          67
30        mani  b.a tamil          95
31     kavitha      maths          48
32     parkavi        bca          62
33        siva        eee          84
34      abitha         it          93
35      aswini        mca          74
36       vicky        bsc          72
37     bharath        bca          63
38      sakthi       bcom          86
39      vishnu        bba          56
40      vidhya    diploma          55
41     vinotha        iti          75
42      harini        eee          68
43     mukilan         it          94
44    sandhiya        bsc          72
45         anu    nursing          88

In [19]:
data.rename(columns={"Department":"Course"},inplace=True)

In [20]:
data

     stud_name     Course  Percentage
0         suba        bca          99
1      shalini        bsc          98
2      vennila     botony          65
3         hema  chemistry          78
4        priya    physics          94
5        shafi      maths          87
6        jeeva        bca          77
7        sneha  b.a tamil          66
8        nisha    b.a eng          85
9      preetha        bca          69
10      varsha        bsc          87
11      sharmi      maths          76
12      kaviya         it          94
13    bharathi      btech          76
14       varun    diploma          88
15     praveen        eee          69
16        hari     viscom          88
17    shesanth        eee          92
18      dhivya        iti          78
19       verti         it          74
20      dharun        bca          68
21      vimala        bba          85
22   dharshini       bcom          88
23      ragavi        mca          97
24    prasanna        msc          66
25     akshaya      maths          77
26  keerathana        bca          54
27       dhanu        bsc          63
28     elakiya        eee          71
29       kalai        iti          67
30        mani  b.a tamil          95
31     kavitha      maths          48
32     parkavi        bca          62
33        siva        eee          84
34      abitha         it          93
35      aswini        mca          74
36       vicky        bsc          72
37     bharath        bca          63
38      sakthi       bcom          86
39      vishnu        bba          56
40      vidhya    diploma          55
41     vinotha        iti          75
42      harini        eee          68
43     mukilan         it          94
44    sandhiya        bsc          72
45         anu    nursing          88

In [21]:
data

     stud_name     Course  Percentage
0         suba        bca          99
1      shalini        bsc          98
2      vennila     botony          65
3         hema  chemistry          78
4        priya    physics          94
5        shafi      maths          87
6        jeeva        bca          77
7        sneha  b.a tamil          66
8        nisha    b.a eng          85
9      preetha        bca          69
10      varsha        bsc          87
11      sharmi      maths          76
12      kaviya         it          94
13    bharathi      btech          76
14       varun    diploma          88
15     praveen        eee          69
16        hari     viscom          88
17    shesanth        eee          92
18      dhivya        iti          78
19       verti         it          74
20      dharun        bca          68
21      vimala        bba          85
22   dharshini       bcom          88
23      ragavi        mca          97
24    prasanna        msc          66
25     akshaya      maths          77
26  keerathana        bca          54
27       dhanu        bsc          63
28     elakiya        eee          71
29       kalai        iti          67
30        mani  b.a tamil          95
31     kavitha      maths          48
32     parkavi        bca          62
33        siva        eee          84
34      abitha         it          93
35      aswini        mca          74
36       vicky        bsc          72
37     bharath        bca          63
38      sakthi       bcom          86
39      vishnu        bba          56
40      vidhya    diploma          55
41     vinotha        iti          75
42      harini        eee          68
43     mukilan         it          94
44    sandhiya        bsc          72
45         anu    nursing          88

In [22]:
data.columns

Index(['stud_name', 'Course', 'Percentage'], dtype='object')

In [23]:
data.rename(columns={"stud_name":"Stud_Name"},inplace=True)

In [24]:
data.tail(36)

     Stud_Name     Course  Percentage
10      varsha        bsc          87
11      sharmi      maths          76
12      kaviya         it          94
13    bharathi      btech          76
14       varun    diploma          88
15     praveen        eee          69
16        hari     viscom          88
17    shesanth        eee          92
18      dhivya        iti          78
19       verti         it          74
20      dharun        bca          68
21      vimala        bba          85
22   dharshini       bcom          88
23      ragavi        mca          97
24    prasanna        msc          66
25     akshaya      maths          77
26  keerathana        bca          54
27       dhanu        bsc          63
28     elakiya        eee          71
29       kalai        iti          67
30        mani  b.a tamil          95
31     kavitha      maths          48
32     parkavi        bca          62
33        siva        eee          84
34      abitha         it          93
35      aswini        mca          74
36       vicky        bsc          72
37     bharath        bca          63
38      sakthi       bcom          86
39      vishnu        bba          56
40      vidhya    diploma          55
41     vinotha        iti          75
42      harini        eee          68
43     mukilan         it          94
44    sandhiya        bsc          72
45         anu    nursing          88

In [25]:
data.head(28)

     Stud_Name     Course  Percentage
0         suba        bca          99
1      shalini        bsc          98
2      vennila     botony          65
3         hema  chemistry          78
4        priya    physics          94
5        shafi      maths          87
6        jeeva        bca          77
7        sneha  b.a tamil          66
8        nisha    b.a eng          85
9      preetha        bca          69
10      varsha        bsc          87
11      sharmi      maths          76
12      kaviya         it          94
13    bharathi      btech          76
14       varun    diploma          88
15     praveen        eee          69
16        hari     viscom          88
17    shesanth        eee          92
18      dhivya        iti          78
19       verti         it          74
20      dharun        bca          68
21      vimala        bba          85
22   dharshini       bcom          88
23      ragavi        mca          97
24    prasanna        msc          66
25     akshaya      maths          77
26  keerathana        bca          54
27       dhanu        bsc          63

In [ ]:
data['course'].fillna()